<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-6">
          <div class="list-group d-flex flex-row">
            <a href="#" class="subItem list-group-item list-group-item-action formulario-link" child=".form-subSection" id="professor/class">Materias</a>
            <a href="#" class="subItem list-group-item list-group-item-action formulario-link" child=".form-subSection" id="time/avails">Disponibilidad</a>
          </div>
        </div>
      </div>
      
    <div class="row my-3">
      <div class="col-md-6">
        <div class="form-subSection">
          <!-- Contenido del cuadro vacío -->
        </div>
      </div>
    </div>
</div>