<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  #register-parent {
    height: auto;
  }

  .list-group-item.selected {
    background-color: #7433c4;
    color: #fff;
  }

  .list-group-item.selected.subItem {
    background-color: #a26bea;
    color: #fff;
  }

  /*   tr[id]:hover {
    background-color: #a26bea;
    color: white;
  } */
</style>



<!-- Contenido principal -->
<div id="register-parent" class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <div class="list-group"> <!-- Added 'd-flex flex-row' classes -->
        <% if (user.admin ) { %>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="user">Usuario</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="faculty">Facultad</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="uniPrograms">Carrera</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="class">Materia</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="semester">Semestre</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="classroom">Aula</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="classroom/types">Tipo Aula</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="building">Modulo</a>
          <a href="#" class="list-group-item list-group-item-action formulario-link" id="professor">Docente</a>
          <% } else if(user.head_of_faculty) { %>
            <a href="#" class="list-group-item list-group-item-action formulario-link" id="professor">Docente</a>
            <% } %>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Ejemplo de tabla -->
    <div class="card mt-4" >
      <div class="card-body" id="tabla-contanier">
        <h5 class="card-title"></h5>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.list-group-item').click(function () {
      $('.list-group-item').removeClass('selected');
      $(this).addClass('selected');
    });

    $(document).on('click', '.list-group-item.subItem', function () {
      $('.list-group-item.subItem').removeClass('selected');
      $(this).addClass('selected');
    });

  });
</script>
<script type="module">
  import RepositoryAPI from './js/RepositoryAPI.js';
  import Table from './js/UI/Table.js';
  const repoAPI = new RepositoryAPI();
  const table = new Table({
    container:"tabla-contanier"
  })
  $(document).ready(function () {

    $(document).on('click', '.formulario-link', async function (event) {
      event.preventDefault();
      var typeForm = $(this).attr("id");
      let child = $(this).attr("child");
      repoAPI.setCollection(typeForm);

      const response = await repoAPI.getAll();
      table.generarTablaDesdeJSON({
        jsonData:response.data,
        withActionsCRUD :false,
      })      
    })
  });
</script>