<div id="scheduleContainer" class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas para los intervalos de tiempo -->
            <tr id="7:10-8:00">
                <th scope="row">7:10-8:00</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="8:00-8:50">
                <th scope="row">8:00-8:50</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="9:00-9:50">
                <th scope="row">9:00-9:50</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="9:50-10:40">
                <th scope="row">9:50-10:40</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="10:50-11:40">
                <th scope="row">10:50-11:40</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="11:40-12:30">
                <th scope="row">11:40-12:30</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="13:30-14:20">
                <th scope="row">13:30-14:20</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="14:20-15:10">
                <th scope="row">14:20-15:10</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="15:10-16:00">
                <th scope="row">15:10-16:00</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="16:00-17:10">
                <th scope="row">16:00-17:10</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="17:10-18:00">
                <th scope="row">17:10-18:00</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <tr id="18:00-19:00">
                <th scope="row">18:00-19:00</th>
                <td id="Lunes"></td>
                <td id="Martes"></td>
                <td id="Miercoles"></td>
                <td id="Jueves"></td>
                <td id="Viernes"></td>
                <td id="Sabado"></td>
            </tr>
            <!-- Añadir más filas según sea necesario -->
        </tbody>
    </table>
</div>