<%- include('forms/partials/title.ejs', { titlePage:"Docente" }) %>
<form id="formulario" class="professor" action="/agregar-docente" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre del Profesor</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Apellido del Profesor</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="cellphone_number" class="form-label">Número de Teléfono Celular</label>
        <input type="text" class="form-control" id="cellphone_number" name="cellphone_number" required>
    </div>
    <div class="mb-3">
        <label for="ci_number" class="form-label">Número de Cédula de Identidad</label>
        <input type="text" class="form-control" id="ci_number" name="ci_number" required>
    </div>
    <!-- University Program Selection -->
<!--     <div class="mb-3">
        <label for="id_class" class="form-label">Progrmas Universitarios (Carreras)</label>
        <select class="form-select"  id="uniPrograms" dependency="semester" name="uniProgram" required>
            <option value="null">Seleccione una opcion</option>
        </select>
    </div> -->
    <!-- Semester Selection (Initially Disabled) -->
<!--     <div class="mb-3">
        <label for="id_semester" class="form-label">Semestre</label>
        <select class="form-select" id="semester" dependency="class" name="id_semester" disabled required>
            <option value="null">Seleccione una opcion</option>
        </select>
    </div> -->
    <!-- Class Selection (Initially Disabled) -->
<!--     <div class="mb-3">
        <label for="id_class" class="form-label">Clase</label>
        <select class="form-select" id="class" name="id_class" disabled required>
            <option value="null">Seleccione una opcion</option>
        </select>
    </div> -->
    <button type="submit" class="btn btn-primary">Agregar Profesor</button>
</form>

<script type="module">
/*     import RepositoryAPI from './js/RepositoryAPI.js';
    const repoAPI = new RepositoryAPI();

    async function getDetailsByProgramUniversity() {
        repoAPI.setCollection('uniPrograms')
        const response = await repoAPI.getAll();
        const selectContainer = $("#formulario").find("#uniPrograms");
        console.log(response.data);
        response.data.forEach(UniProgram => {
            const option = $('<option>').attr({
                value: UniProgram._id
            }).text(`${UniProgram.name}`);
            selectContainer.append(option);
        });

    }
    
    async function getDetailsBySemester() {
        repoAPI.setCollection('classroom/types');
        const response = await repoAPI.getAll();
        const selectContainer = $('#id_classroom_type');
        console.log(response.data);
        response.data.forEach(type_classroom => {
            const option = $('<option>').attr({
                value: type_classroom._id
            }).text(`${type_classroom.name}`);

            selectContainer.append(option);
        });
    }
    async function loadSectionOfSelection(container,data) {
        $("#formulario").find(`#${container}`).prop('disabled', false);
        const selectContainer = $("#formulario").find(`#${container}`);
        selectContainer.find('option:not(:first-child)').remove();
        data.forEach(campo => {
            const option = $('<option>').attr({
                value: campo._id
            }).text(`${campo.name}`);
            selectContainer.append(option);
        });
    }
 */
/*     $(document).ready(async function () {
        console.log("Document Ready");


        $('.form-select').on('change', async function () {
            var selectedOption = $(this).val();
            let collection = $(this).attr('dependency');
            let endpoint = $(this).attr('id');

            repoAPI.setCollection(collection);
            const response = await repoAPI.get(endpoint,selectedOption);
            await loadSectionOfSelection(collection,response.data);
        });

    });
 */
</script>