<form id="formulario" class="building" action="/agregar-edificio" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre del Edificio</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="building_number" class="form-label">Número del Edificio</label>
        <input type="text" class="form-control" id="building_number" name="building_number" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Edificio</button>
</form>