<form id="formulario" action="/agregar-semestre" method="POST">
    <div class="mb-3">
        <label for="nombreSemestre" class="form-label">Nombre del Semestre</label>
        <input type="text" class="form-control" id="nombreSemestre" name="name" required>
    </div>
    <div class="mb-3">
        <label for="programaUniversitarioId" class="form-label">ID del Programa Universitario</label>
        <input type="text" class="form-control" id="programaUniversitarioId" name="university_program_id" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Semestre</button>
</form>
