<%- include('forms/partials/title.ejs', { titlePage:"Tipo de Aula" }) %>
<form id="formulario" class="classroom/types" action="/agregar-classroom-type" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Tipo de Aula</button>
</form>
