<form id="formulario" class="user" action="/agregar-usuario" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="user_type" class="form-label">Tipo de Usuario</label>
        <select class="form-select" id="user_type" name="user_type" required>
            <option value="admin">Administrador</option>
            <option value="directorCarrera">Director de Carrera</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="university_program_id" class="form-label">Programa Universitario</label>
        <select multiple class="form-select" id="university_program_id" name="university_program_id" required>
            <option value="ISI">ISI (Ingenieria en sistemas informaticos)</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Usuario</button>
</form>